footer {
    background-color: #f0f0f0;
}

.footer-top-list {
    background-color: #f7b500;
}

.footer-top {

    display: flex;
    justify-content: space-between;
    padding: 20px;
}



.footer-item {
    // width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-right: 120px;
    border-right: 1px solid white;
}

.footer-item:last-child{
    padding-right: 0;
        border: none;
}

.footer-item .icon {
    height: 32px;
    margin-right: 10px;
}


.footer-item h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.footer-item p {
    margin: 0;
}
.footer-bottom-list {
background-color: #f0f0f0;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}


.logo-footer{
    margin-bottom: 10px;
}


.footer-description {
    width: 40%;
    
}


.footer-links,
.footer-social {
    width: 10%;
   
}


.footer-links ul,
.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li,
.footer-social ul li {
    margin-bottom: 5px;
}

.footer-social {
    position: relative;
    width: 200px;
}

.footer-social h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.footer-social .social-progress-bar {
    position: absolute;
    left: 0;
    top: 56px;
    height: 100px;
    width: 20px;
    background-color: transparent;
}

.footer-social .progress-bar-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #88c1e7;
}

.footer-social .progress-bar-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: #007bff;

}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 30px;
}




.footer-links ul li a,
.footer-social ul li a {
    text-decoration: none;
    color: #333;
}

.footer-links ul li a.active{
    color: var(--accent2);
}

.footer-bottom h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.footer-copy {
    text-align: center;
    padding: 30px;
    background-color: #f0f0f0;
    border-top: 1px solid #a0a0a0;
}


@media screen and (max-width: 800px) {
    .footer-top {
         flex-direction: column;
        }

        .footer-item {
            padding: 0;
            border: none;
            padding-bottom: 10px;
        }

        .footer-bottom{
            flex-wrap: wrap;
        }

                .footer-description {
                    width: 100%;
                    margin-bottom: 20px;
        
                }
}